


{%extends 'base/base.html'%}

{%block tittle %} LIST GRANT GOAL VIEW {% endblock tittle%}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <th>ID</th>
        <th>GG TITTLE</th>
        <th>TIMESTAMP</th>
        <th>DAYS DURING</th>
        <th>USER</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for gg in grant_goals %}
        <tr>
            <td>{{ gg.id }}</td>
            <td>{{ gg.gg_tittle }}</td>
            <td>{{ gg.timestamp }}</td>
            <td>{{ gg.days_during }}</td>
            <td>{{ gg.user }}</td>
            <td>{{ gg.gg_actions }}</td>
            <td><a href="" class="btn btn-outline-info">Detail</a></td>
            <td><a href="" class="btn btn-outline-warning">Update</a></td>
            <td><a href="" class="btn btn-outline-danger">Delete</a></td>
            
        </tr>
        {% endfor%}
    </tbody>
</table>

{% endblock content %}
